body {
    -webkit-font-smoothing: antialiased;
    background-color: #fdf5e6;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

h2.pink:hover {
    color: #f8bbd0;
}

h2.yellow:hover {
    color: #ffee58;
}

h2.purple:hover {
    color: #ab47bc;
}

h2.red:hover {
    color: #f44336;
}

h2.blue:hover {
    color: #1e88e5;
}

h2.orange:hover {
    color: #ffb74d;
}

h2.teal:hover {
    color: #26a69a;
}

h2.lime:hover {
    color: #aeea00;
}

h2.green:hover {
    color: #81c784;
}

h2.cyan:hover {
    color: #4dd0e1;
}

h2.indigo:hover {
    color: #3f51b5;
}

.head-title {
    text-align: center;
    margin: 50px 0 120px 0;
}

.head-title h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5.7em;
    color: black;
}

.head-title h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.7em;
    color: black;
}

.item {
    height: 300px;
    padding: 0 40px 0 40px;
}

.item h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 3em;
    text-align: right;
    line-height: .77em;
}

h2:hover {
    transform: translateX(1px) translateY(1px);
    transition: all .1s ease-in-out;
}

.item h4 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-align: left;
    line-height: 1em;
    padding-top: 20px;
}

.item span{
    font-size: .6em;
}
.item2 {
    height: 300px;
    padding: 0 40px 0 40px;
   
}

.item2 h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 3.5em;
    text-align: center;
    line-height: .77em;
}
.item2 h4 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    line-height: 1em;
    padding-top: 20px;
}
.item2 span{
    font-size: .6em;
}


#colour-bar {
    width: 100%;
    height: 5px;
    overflow: hidden;
}

.colour-part {
    width: 20%;
    height: 100%;
    float: left;
}

.footer {
    text-align: center;
    padding-top: 80px;
}

.icon-block {
    display: inline-block;
    margin: 10px;
}

.icon-block p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: .9em;
}

.icon-block i {
    font-size: 1.4em;
}

@media only screen and (max-width: 414px) {
    .head-title h1 {
        font-size: 4em;
    }
    .head-title h3 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 375px) {
    .head-title h1 {
        font-size: 3.5em;
    }
    .head-title h3 {
        font-size: 1.3em;
    }
}
