/*----- Helper Classes -----*/

html * {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*
::-webkit-scrollbar {
	display: none;
}
*/

::-moz-selection {
    color: #84ffff;
    background: transparent;
}

::selection {
    color: #84ffff;
    background: transparent;
}

@font-face {
    local('Streamster'),
    font-family: 'Streamster';
    src: url(../fonts/Streamster);
    format('truetype');
}

@font-face {
    local('vhsfont'),
    font-family: 'vhsfont';
    src: url(../fonts/vhsfont);
    format('truetype');
}

.hero-1 {
    box-shadow: inset 0 0 10em rgba(0, 0, 0, 1);
    height: 100vh;
    background: url(../img/hero-bg.gif), no-repeat center center;
    background-size: cover;
    
}

.hero-title {
    font-family: 'Monoton', cursive;
    font-size: 10em;
    letter-spacing: 2px;
    font-weight: 200;
    line-height: 1em;
    opacity: 0.7;
    background: linear-gradient(93deg, #e621eb, #e5c113, #13e5e3);
    background-size: 200% 200%;
    -webkit-animation: gradient 3s ease infinite;
    -moz-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px rgba(255, 245, 157, 0.8);
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.hero-title-2 {
    font-family: 'Streamster';
    padding-top: 20px;
    line-height: 1.5em;
    font-size: 3em;
    color: #84ffff;
    text-shadow: -1px 0 1px #fdff2a, -2px 0 1px #df4a42, 1px 0 1px #91fcfe, 2px 0 0 #4405fc;
    letter-spacing: 6px;
    margin: 0px 0px 0px 0px!important;
    opacity: 0.7;
    -webkit-animation: shake 0.1s cubic-bezier(0.12, 0.36, 0.64, 0.09) infinite;
    animation: shake 0.1s cubic-bezier(0.12, 0.36, 0.64, 0.09) infinite;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}


}
@-webkit-keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    
    20%,
    80% {
        -webkit-transform: translate3d(1px, 0, 0);
        transform: translate3d(1px, 0, 0);
    }
    
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    
    40%,
    60% {
        -webkit-transform: translate3d(1px, 0, 0);
        transform: translate3d(1px, 0, 0);
    }
}
@keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    
    20%,
    80% {
        -webkit-transform: translate3d(1px, 0, 0);
        transform: translate3d(1px, 0, 0);
    }
    
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    
    40%,
    60% {
        -webkit-transform: translate3d(1px, 0, 0);
        transform: translate3d(1px, 0, 0);
    }
}
.text-style {
    text-align: center;
}
.vhs-font {
    color: white;
    padding-top: 35px;
    opacity: 0.6;
    font-family: 'vhsfont';
    margin: 0px 0px 0px 0px!important;
    font-size: 3em;
    letter-spacing: 7px;
    text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 1px #91fcfe, 4px 0 0 #4405fc;
}
.blink {
    animation: blink 1s steps(4, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden
    }
}
.speakerplay {
    background-position: 0 0;
}
#speaker {
    display: none;
    height: 40px;
    width: 40px;
    margin: 40px 85px;
    cursor: pointer;
    opacity: 0.7;
    -webkit-filter: drop-shadow(0 1px 3px rgba(255, 255, 255, .6));
    -moz-filter: drop-shadow(0 1px 3px rgba(255, 255, 255, .6));
    -o-filter: drop-shadow(0 1px 3px rgba(255, 255, 255, .6));
    filter: drop-shadow(0 1px 3px rgba(255, 255, 255, .6));
}
.marquee {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: bottom;
}
.marquee div {
    overflow: hidden;
    animation: marquee 8s linear infinite;
    width: 200%;
}
.marquee span {
    width: 100%;
    float: center;
}
@keyframes marquee {
    0% {
        left: 100%;
    }
    
    100% {
        left: -50%;
    }
}
#menu {
    opacity: 0.9;
    font-size: 1.2em;
    -webkit-animation: shake 0.1s cubic-bezier(0.1223, 0.366, 0.644, 0.001) infinite;
    animation: shake 0.1s cubic-bezier(0.1223, 0.366, 0.644, 0.001) infinite;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

/* break points 768px (ipad) */

@media (max-width: 768px){
    .hero-title{
        font-size: 10em;
        line-height: 1.4em;
    }
    
    .hero-title-2{
        font-size: 4em;
        line-height: 1.7em;
        padding-top: 25px;
        
    }
    
    /*.vhs-font{
        font-size: 40px;
        padding-top: 100px;
    }*/
     
    /*@keyframes marquee {
    0% { left: 100%; }
    100% { left: -100%; }
    }
    
    
    #speaker{
        margin-top: 20px;
        width: 50px;
        height: 50px;
    }*/
}


/* break points 414px (iphone 6&7 plus */

@media (max-width: 414px){
    .hero-title{
        font-size: 7em;
        line-height: 1.2em;
        padding-top: 30px;
    }
    
    .hero-title-2{
        font-size: 3em;
        line-height: 1.7em;
        padding-top: 0pxpx
    }
    
    /*.vhs-font{
        font-size: 33px;
        padding-top: 60px;
    }
    
    .marquee span{
       display: none;
    }
         
    @keyframes marquee {
    0% { left: 100%; }
    100% { left: -100%; }
    }*/
    
    #speaker{
        width: 30px;
        height: 30px;
        margin: 30px;
    }
}

/* break points 375px (iphone 6&7) */

@media (max-width: 375px){
    .hero-title{
        font-size: 6.3em;
        line-height: 1.4em;
    }
    
    .hero-title-2{
        font-size: 2.7em;
        line-height: 1.7em;
        
    }
    
   /* .vhs-font{
        font-size: 30px;
        padding-top: 50px;
    }
     
    @keyframes marquee {
    0% { left: 100%; }
    100% { left: -100%; }
    }
    
    #speaker{
        margin-top: 50px;
        width: 35px;
        height: 35px;
    }*/
}

